<section class="m-2 p-8 bg-white rounded border border-olive-400">
    <div class="flex items-center">
        <h2 class="title">Tareas</h2>
        <fa-icon [icon]="faListCheck" class="text-olive-500 text-xl mx-2"></fa-icon>
    </div>
    <ul class="border border-olive-400 rounded p-2">
        @for (task of tasks(); track task.id) {
            <li class="m-1 bg-olive-300 rounded p-2 mb-2">
                <app-task-item [task]="task" (toggleRequested)="taskToggled.emit($event)"></app-task-item> 
                <!-- 
                    $event es una palabra reservada para obtener lo recibido del evento indicado antes (toggleRequested)  
                    1. Se recoge el evento toggleRequested
                    2. se utiliza la función emit del evento taskToggled del componente task-list (este envia un numero)
                    3. se obtiene el valor de de la activación del evento toggleRequested con $event
                -->
            </li>
        }
    </ul>
</section>
